<h1> <%= @group_task.name %> </h1>
<h3> Due Date:<%= @group_task.due_date %> </h3>
<h3> <%= GroupTask.group_task_progress(@group_task) %> </h3>


<br>

<div class="tasks_container"></div>
<br>
<%= link_to 'Next Task', "#", { :class=>"next_task" } %>



<script type="text/javascript" charset="utf-8">
   task_count = 0;
 $(function() {

   $.get(window.location.href + ".json").success(function(json){
      if (task_count == 0){
        $("div.tasks_container").append("<h4>" + json[0].name + "</h4>");
        $("div.tasks_container").append("<a href='" + "http://localhost:3000/users/" + json[0].user_id + "'>View User</a>");
      };
    });


    $(".next_task").on("click", function(e) {
      e.preventDefault();
      $.get(window.location.href + ".json").success(function(json){
       task_count += 1;
       if (json[task_count] == null) {
        task_count = 0;
      };
       $(".tasks_container").empty();
       $("div.tasks_container").html("<h4>" + json[task_count].name + "</h4>");
       $("div.tasks_container").append("<a href='" + "http://localhost:3000/users/" + json[task_count].user_id + "'>View User</a>");
     });
    });

  });

</script>

<br>

<h3>Create New Task:</h3>

<%= render partial: 'layouts/valid_errors', locals: {object: @task, object: @group_task}%>

<%= form_for @task, url: group_task_tasks_path(@group_task) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <br>
  <%= f.submit "Add Task", { :class=>"button" } %>
<% end %>
