<h1> <%= @group_task.name %> </h1>
<h3> Due Date:<%= @group_task.due_date %> </h3>
<h3> <%= GroupTask.group_task_progress(@group_task) %> </h3>


<br>

<div class="tasks_container"></div>
<br>
<%= link_to 'Next Task', "#", { :class=>"next_task" } %>


<br>

<h3>Create New Task:</h3>

<%= render partial: 'layouts/valid_errors', locals: {object: @task, object: @group_task}%>

<%= form_for @task, url: group_task_tasks_path(@group_task) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <br>
  <%= f.submit "Add Task", { :class=>"button" } %>
<% end %>


<script type="text/javascript" charset="utf-8">

  $(function(){
    $("#new_task").on("submit", function(e){
      url = this.action
      data = {
        'authenticity_token': $("input[name='authenticity_token']").val(),
        'task': {
          'user_id': $("#task_user_id").val(),
          'name': $("#task_name").val()
        }
      }
      $.ajax({
        type: "POST",
        url: url,
        data: data,
        success: function(response){
          debugger
        }
      })
      e.preventDefault();
    })
  })

</script>
